/*BODY*/

*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  color: #fff;
  box-sizing: border-box;

}
/*SECTION ADOPTAR*/
.adoptar{
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
/*SECTION ADOPTAR MEDIA QUERY*/
@media screen and (min-width: 320px)and (max-width: 414px) {
    .adoptar {
          background-image: url('../images/pic05.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          text-align: center;
    }

    .adopte{
      color: #fff;
      background-color: #EE4933;
      padding: 10px 120px 10px 120px;
      border: none;
      letter-spacing: 4px;
      font-size: 10px;
    }
}
/*SECTION ADOPTAR*/
.pupy-title{
  font-weight: 800;
  letter-spacing: 4px;
  font-size: 35px;
  padding:200px 0 40px 0;
/*  margin: 15px 0px 5px 0px;
  border-bottom: 5px solid white;*/
}

h2{
  font-size: 15px;
  letter-spacing: 4px;
}
.quienes{
      padding: 0 0 10px 0;
}
.learn{
  padding: 90px 0 10px 0;
}

button{
  color: #fff;
  background-color: #EE4933;
  padding: 10px 40px 10px 40px;
  border: none;
  letter-spacing: 4px;
  font-size: 10px;
}

.adopte{
    border-radius: 3px;
}

button:focus { outline: none; }

/*SECTION PUPPY LOVE*/

.puppy-love{
  background-color: #21B2A6;
  text-align: center;
}

.puppy-love h2{
  font-size: 17px;
  font-weight: bolder;
}

.h2-top{
  padding: 120px 40px 10px 40px;
}

.h2-bottom{
  padding: 0 40px 40px 40px;
}

.puppy-love hr{
  padding: 120px 0 10px 0;
  display: block;
  height: 4px;
  border: 0;
  border-top: 1px solid #1EA399;
  margin: 1em 0;
  padding: 0;
  width: 60%;
  margin-left: 20%;
}

.puppy-love p{
  letter-spacing: 1px;
  font-weight: 100;
}

.p-top{
  padding-top: 30px;
}

.icons img{
  padding: 30px;
}

.dog-1{
  background-image: url('../images/pic01.jpg');
  background-size: cover;
  height: 300px;
  width: 100%;
}

.dog-2{
  background-image: url('../images/pic02.jpg');
  background-size: cover;
  height: 300px;
  width: 100%;
}

.dog-3{
  background-image: url('../images/pic03.jpg');
  background-size: cover;
  height: 300px;
  width: 100%;
}

.background-dog{
  background-color: #2B343D;
  height: 300px;
  width: 100%;
}
